<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Project Detail</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous' />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); * { font-family: "Poppins", sans-serif; text-decoration: none; } .btn-dark { background-color: #111727; border: 1px solid #111727; }
      .btn-dark:hover { background-color: #000000; border: 1px solid #111727; } .border-white { background-color: #fafafa; box-shadow: 0px 0px 4px -1px rgba(107, 107, 107, 0.75); }
    </style>
  </head>

  <body style='background-color: #e1e5e9'>
    <!-- Navbar -->
    <nav class='navbar navbar-expand-lg bg-body-tertiary'>
      <div class='container-fluid'>
        <a class='navbar-brand ms-sm-3' href='#'>
          <img src='/assets/image/brandred.png' alt='dumbwaysID' width='80px' height='55px' />
        </a>
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
          <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
            <li class='nav-item'>
              <a class='nav-link ms-sm-2' aria-current='page' href='/'>Home</a>
            </li>
            {{#if isLogin}}
              <li class='nav-item'>
                <a class='nav-link ms-sm-3 active fw-bold' href='/myproject'>Add Project</a>
              </li>
            {{else}}
              <li class='nav-item'>
                <a class='nav-link ms-sm-3 disabled' aria-disabled='true' href='/myproject'>Add Project</a>
              </li>
            {{/if}}
            <li class='nav-item'>
              <a class='nav-link ms-sm-3' href='/testimonial'>Testimonial</a>
            </li>
          </ul>
          <ul class='navbar-nav'>
            {{#if isLogin}}
              <li class='nav-item'>
                <a class='nav-link me-sm-5 mb-sm-0 fw-bold'>Welcome, {{user.name}}</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link me-sm-4 mb-sm-0 fw-bold' href='/logout'>Logout</a>
              </li>
            {{else}}
              <li class='nav-item'>
                <a class='nav-link me-sm-4 mt-sm-2' href='/register'>Register</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link me-sm-5 mt-sm-2' href='/login'>Login</a>
              </li>
            {{/if}}
          </ul>
          <button class='btn btn-dark me-sm-5 mb-sm-0' type='button'>
            <a href='/contact' style='color: #ffff; text-decoration: none'>Contact Me</a>
          </button>
        </div>
      </div>
    </nav>
    <!-- End Of Navbar -->

    <!-- Main Content -->
    <div class='container-sm'>
      <h1 class='display-6 text-sm-center fw-bold'>{{data.name}}</h1>
      <div class='row pt-sm-4'>
        <div class='col'>
          <img class='w-100 img-fluid' src='/uploads/{{data.image}}' alt='gambarProject' />
        </div>
        <div class='col ms-sm-4 mt-sm-1'>
          <p class='fw-bold h6 ps-sm-2'>Duration</p>
          <div class='row col-sm-7 px-sm-0 d-flex'>
            <img class='col-sm-12 img-fluid w-25 pt-sm-0 px-sm-4' src='/assets/icon/calendar.png' />
            <div class='col-sm-9 px-sm-0'>
              <p class='h6 my-sm-2'>{{data.formatDateAwal}} - {{data.formatDateAkhir}}</p>
            </div>
          </div>
          <div class='row col-sm-7 px-sm-0 d-flex mt-sm-3'>
            <img class='col-sm-12 img-fluid w-25 pt-sm-0 px-sm-4' src='/assets/icon/clock.png' />
            <div class='col-sm-9 px-sm-0'>
              <p class='h6 my-sm-2'>{{data.msg}}</p>
            </div>
          </div>
          <p class='fw-bold h6 ps-sm-2 mt-sm-5'>Technologies</p>
          <div class='row col-sm-7 px-sm-0'>
            <img class='img-fluid w-25 pt-sm-0 px-sm-4' src='/assets/icon/atom.png' />
            <div class='col-sm-9 px-sm-0'>
              <p class='h6 my-sm-2'>React JS</p>
            </div>
          </div>
          <div class='row col-sm-7 px-sm-0 mt-sm-3'>
            <img class='img-fluid w-25 pt-sm-0 px-sm-4' src='/assets/icon/node-js.png' />
            <div class='col-sm-9 px-sm-0'>
              <p class='h6 my-sm-2'>Node JS</p>
            </div>
          </div>
          <div class='row col-sm-7 px-sm-0 mt-sm-3' style='position: relative; bottom: 100.9px; left: 200px'>
            <img class='img-fluid w-25 pt-sm-0 px-sm-4' src='/assets/icon/icons8-javascript-50.png' />
            <div class='col-sm-9 px-sm-0'>
              <p class='h6 my-sm-2'>Javascript</p>
            </div>
          </div>
          <div class='row col-sm-7 px-sm-0 mt-sm-3' style='position: relative; bottom: 100.9px; left: 200px'>
            <img class='img-fluid w-25 pt-sm-0 px-sm-4' src='/assets/icon/socket_io_logo_icon_144874.png' />
            <div class='col-sm-9 px-sm-0'>
              <p class='h6 my-sm-2'>Socket IO</p>
            </div>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum mollitia iusto vel debitis beatae quaerat laboriosam, similique sequi quia culpa quisquam optio doloremque, non sed consequatur magnam iure unde! Deserunt obcaecati
          suscipit, a veritatis eius, quo laborum porro molestiae quibusdam aut laudantium minima rem minus laboriosam dolorem eum ad voluptatem exercitationem? Optio reprehenderit sint deserunt facere reiciendis quaerat laboriosam in nisi
          vero molestias iure ipsum, quo ex ratione et quibusdam, soluta sunt asperiores? Ab ut odit cum consequuntur, recusandae natus repudiandae nulla non veniam saepe veritatis deleniti corrupti, blanditiis molestias odio dolorem
          obcaecati eum voluptatum quibusdam ipsam, labore quo quia minus! Voluptate totam tempore consequatur voluptatum laborum nemo labore molestiae cupiditate aliquam? Nesciunt, voluptate labore facere eligendi error velit quod ea modi
          at ipsam reprehenderit. Pariatur laborum repudiandae laboriosam cumque ipsam molestias reiciendis repellendus ipsa eligendi eveniet ab odit, officia quis sequi ex id qui velit! Illo dolore autem, reprehenderit qui dolorem minus
          repudiandae quibusdam labore et fugit modi provident at explicabo culpa facilis quidem corporis aut ratione soluta odio sunt harum similique iure sit! Maiores incidunt saepe, ipsum distinctio tenetur eligendi explicabo, vitae sunt
          error nobis, eaque tempore aut minima illo nam sit. Fuga veritatis nesciunt id odio illum.
        </p>
      </div>
    </div>
    <!-- End of main content -->

    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js'></script>
  </body>
</html>